<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<div th:fragment="temp_side">
    <nav class="navbar-default navbar-static-side" role="navigation" >
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <i class="fa fa-user-circle-o fa-2x m-r" aria-hidden="true"></i>
                                    <strong class="font-bold" th:text="${userName}"></strong></span>
                                <span class="text-muted text-xs block m-t">管理<b class="caret"></b></span>
                            </span>
                        </a>
                        <ul class="dropdown-menu animated fadeInRight m-t">
                            <li><a href="/userInfo">个人信息</a></li>
                            <li><a href="/userSetting">设置</a></li>
                            <li><a href="/userAuthority">权限管理</a></li>
                            <li class="divider"></li>
                            <li><a href="/login">退出登录</a></li>
                        </ul>
                    </div>
                </li>
                <li class="active">
                    <a><i class="fa fa-cc-paypal"></i> <span class="nav-label">收费管理</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="/chargeByNotify">按通知收费</a></li>
                        <li><a href="/chargeByScan">扫码收费</a></li>
                        <li><a href="/conv">便利店</a></li>
                        <li><a href="/checkCharge">收费审核</a></li>
                        <li><a href="/setCharge">收费设置</a></li>
                        <li><a href="/settled">已结算查询</a></li>
                        <li><a href="/accountCheck">对账明细</a></li>
                    </ul>
                </li>
                <li class="">
                    <a><i class="fa fa-bell-o"></i> <span class="nav-label">通知公告</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="/publishNotify">发布通告</a></li>
                    </ul>
                </li>
                <li class="">
                    <a><i class="fa fa-cny"></i> <span class="nav-label">付款管理</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="/chargeByNotify">按通知收费</a></li>
                    </ul>
                </li>
                <li class="">
                    <a><i class="fa fa-exchange"></i> <span class="nav-label">退款管理</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="/chargeByNotify">按通知收费</a></li>
                    </ul>
                </li>
                <li class="">
                    <a><i class="fa fa-database"></i> <span class="nav-label">数据管理</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="/roleManage">角色管理</a></li>
                        <li><a href="/studentManage">学生管理</a></li>
                        <li><a href="/classManage">班级管理</a></li>
                        <li><a href="/staffManage">教职工管理</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>
