<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head th:include="/common/_head :: head_source">
    <!--<title>Getting Started: Serving Web Content</title>-->
</head>
<script  th:src="@{/js/lib/require/require.js}"  data-main="/js/index"></script>
<body class="pace-done">
    <div id="wrapper">
        <div th:include="/common/_side :: temp_side"></div>
        <div id="page-wrapper" class="gray-bg">
            <div th:replace="/common/_head :: temp_head"></div>
            <p th:text="'23, ' + ${title}" /><br/>
        </div>
    </div>

<script>

</script>
</body>
</html>